nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#/')
        img.img-responsive(src='app/images/your-consulting.jpg' alt='YourConsulting')
    ul.nav.navbar-nav
      li
        a(href='#/information')
          i.fa.fa-sitemap
          |   Informații
      li 
        a(href='#/persons')
          i.fa.fa-sitemap
          |   Persons
      li 
        a(href='#')
          i.fa.fa-sitemap
          |    Cars